WebServices2/SOAP1/WebContent/wsdl/AreaOfTriangle.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://metacube.com" xmlns:intf="http://metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="calculateArea">
    <complexType>
     <sequence>
      <element name="side1" type="xsd:double"/>
      <element name="side2" type="xsd:double"/>
      <element name="side3" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculateAreaResponse">
    <complexType>
     <sequence>
      <element name="calculateAreaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calculateAreaRequest">

      <wsdl:part element="impl:calculateArea" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculateAreaResponse">

      <wsdl:part element="impl:calculateAreaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AreaOfTriangle">

      <wsdl:operation name="calculateArea">

         <wsdl:input message="impl:calculateAreaRequest" name="calculateAreaRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculateAreaResponse" name="calculateAreaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AreaOfTriangleSoapBinding" type="impl:AreaOfTriangle">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calculateArea">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculateAreaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculateAreaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AreaOfTriangleService">

      <wsdl:port binding="impl:AreaOfTriangleSoapBinding" name="AreaOfTriangle">

         <wsdlsoap:address location="http://localhost:8080/SOAP1/services/AreaOfTriangle"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
